In [ ]:
def harmonic_sum(n):
  if n==1:
    return 1
  return 1/n+ harmonic_sum(n-1)
harmonic_sum(4)

2.083333333333333

In [ ]:
def reverse(l):
  return reverse_list(l,0,len(l)-1)

def reverse_list(l,start,end):
  
  if start>end:
    return l

  l[start],l[end]=l[end],l[start]
  return reverse_list(l,start+1,end-1)
  


reverse([1,2,3,4,5])

[5, 4, 3, 2, 1]

In [ ]:
def palin(l):
  return palin_check(l,0,len(l)-1)

def palin_check(l,start,end):
  
  if start<end:
    if l[start]!=l[end]:
      return "Not a Plaindrome"
    return palin_check(l,start+1,end-1)
  return "Palindrome"
  
palin([1,2,3,2,1])
#palin("MADAM")
#palin("HELLO")

'Palindrome'

In [ ]:
def arrSum(arr):
  
  if len(arr)==1:
    return arr[0]     #40
                                     #[20,30,40], [30,40],[40]
  return(arr[0]+arrSum(arr[1:]))  #10+20+30+*40* if true hoye jekhan theke call hoise shekhane returned val ta niye ashche
  

arrSum([10,20,30,40])

100

In [ ]:
#task-1(a)
def fact(n):
  if n==0 or n==1:
    return 1
  return n*fact(n-1)
print(fact(4))

24

In [ ]:
#task-1(b)
fib1=[None]*1000
fib1[0]=0
fib1[1]=1
def fib(n):
  if n<=1:
    return n
  elif fib1[n]!=None:
    return fib1[n]
  else:
    val=fib(n-1)+fib(n-2)
    fib1[n]=val
    return val
print(fib(6))

8

In [ ]:
#task-1(c)
def traverseArr(arr,idx):
  
  if idx>=0 and idx<len(arr):
    print(arr[idx])
    traverseArr(arr,idx+1)

traverseArr([10,20,30],0)

10
20
30

In [ ]:
def traverseArr(arr,idx):
  
  if idx>=0 and idx<len(arr):
    
    traverseArr(arr,idx+1)
    print(arr[idx])

traverseArr([10,20,30],0)

30
20
10

In [ ]:
#task-1(d)
def power(a,n):
  if n==0:
    return 1
  return a*power(a,n-1)
print(power(3,3))

27

In [ ]:
#task-2(a)
def dec_bin(n):
  res=""
  if n>=1:
    dec_bin(n//2)
    res=n%2
  print(res,end=" ")
dec_bin(11)

 1 0 1 1

In [ ]:
#task-2(b)
class Node:
  def __init__(self,e,n):
    self.elem=e
    self.next=n
a=Node(10,Node(20,Node(30,None)))

def sum(head):
  if head==None:
    return 0
  return head.elem+sum(head.next)
print(sum(a))

60

In [ ]:
#task-2(c)
class Node:
  def __init__(self,e,n):
    self.elem=e
    self.next=n
a=Node(10,Node(20,Node(30,None)))

def reverse(head):
  if head==None:
    return 0
  reverse(head.next)
  print(head.elem)

  
(reverse(a))

30
20
10

In [ ]:
#task-3
def card(h):
  if h==0:
    return 0
  elif h==1:
    return 8
  else:
    return 5+card(h-1)
print(card(4))

23

In [ ]:
#task-4(a)
def lefttriangle(num, row = 1, digit = 1):
  if row<=num:
    if digit<=row:
      print(digit, end = '')
      return lefttriangle(num, row, digit+1)
    print()
    #new row -> digit starts from 1
    return lefttriangle(num, row+1, digit = 1)
  return
lefttriangle(5)

1
12
123
1234
12345

In [ ]:
#task-4(b)
def righttriangle(n, row=1, digit=1, spacecount=1):
    if row > n:
        return
    else:
        if spacecount <= n-row:
            print(' ', end = '')
            righttriangle(n, row, digit, spacecount+1)
        else:
            if digit>0:
                print(digit, end = '')
                righttriangle(n, row, digit-1, spacecount)
            else:
                print()
                righttriangle(n, row+1, row+1, 1)
righttriangle(5)

    1
   21
  321
 4321
54321

In [ ]:
#task-5
class FinalQ: 
  def print(self,array,idx): 
    if(idx<len(array)): 
        profit = self.calcProfit(array[idx])
        print(f"{idx+1}. Investment: {array[idx]}; Profit: {float(profit)}")
        self.print(array,idx+1)
    
  def calcProfit(self,investment):
    if investment <= 25000:
        return 0
    elif investment <= 100000:
      return 45 + self.calcProfit(investment-1000)
    elif investment > 100000:
      return 80 + self.calcProfit(investment-1000)
#Tester 
array=[25000,100000,250000,350000] 
f = FinalQ() 
f.print(array,0)

1. Investment: 25000; Profit: 0.0
2. Investment: 100000; Profit: 3375.0
3. Investment: 250000; Profit: 15375.0
4. Investment: 350000; Profit: 23375.0

In [ ]:
#Practice problem

In [ ]:
#task-15
def endx(s):
  if len(s)==0:
    return ""
  if s[0]=="x":
    return endx(s[1:])+s[0]
  return s[0]+ endx(s[1:])


print(endx("xxre")) #→ "rexx"
print(endx("xxhixx")) #→ "hixxxx"
print(endx("xhixhix")) #→ "hihixxx"

rexx
hixxxx
hihixxx

In [ ]:
#task-14
def arr220(a,i):
  if len(a)==1:
    return False
  if i<=len(a)-1:
    if a[i]*10 in a:
      return True 
    return arr220(a,i+1)
  return False
print(arr220([1,2,20], 0))

True

In [ ]:
#task-13
def noX(s):
  if len(s)<1:
    return ""
  
  else:
    if s[0]=="x":
      return noX(s[1:])
    else:
      return s[0]+ noX(s[1:])
print(noX("xaxb"))

ab

In [ ]:
#task-12
def triangle(n):
  if n==0:
    return 0
  if n==1:
    return 1
  return n+ triangle(n-1)
print(triangle(3))

6

In [ ]:
#task-11
def bunnyEars(n):
  if n==0:
    return 0
  
  return 2+bunnyEars(n-1)

print(bunnyEars(2))

4

In [ ]:
#task-10
def strcount(s,s2):
  if s==s2:
    return 1
  elif len(s)<3:
    return 0
  
  if s[:3]==s2:
    return 1+ strcount(s[3:],s2)
  else:
    return strcount(s[1:],s2)
print(strcount("catcowcat","cow"))

1

In [ ]:
#task-9
def counthi2(s):
  if s=="hi":
    return 1
  elif len(s)<3:
    return 0
  if s[:3]=="xhi":
    return counthi2(s[3:])
  if s[:2]=="hi":
    return 1+ counthi2(s[2:])
print(counthi2("xhihihi"))

2

In [ ]:
#task-8
def countABC(s):
  if s=="abc" or s=="aba":
    return 1
  elif len(s)<3:
    return 0
  
  if s[:3]=="abc" or s[:3]=="aba":
    return 1+ countABC(s[3:])
  else:
    return countABC(s[1:])
print(countABC("abcxxxabcxabc"))

3

In [ ]:
#task-7
def pair(s):
  if len(s)<2:
    return 0
  elif len(s)==2:
    if s[0]==s[1]:
      return s[0]+"*"+s[1]
    else:
      return s[0]+s[1]
  else:
    if s[0]==s[1]:
      return s[0]+"*"+pair(s[1:])
    else:
      return s[0]+pair(s[1:])
print(pair("hello"))

hel*lo

In [ ]:
#task-6
def arr11(a,i):
  if len(a)==0:
    return 0
  else:
    if a[0]==11:
      return 1+ arr11(a[1:],i)
    else:
      return arr11(a[1:],i)
print(arr11([11, 2, 11], 0))

2

In [ ]:
#task-5
def pi(s):
  if len(s)==0:
    return ""
  else:
    if s[:2]=="pi":
      return "3.14" + pi(s[2:])
    else:
      return str(s[0])+ str(pi(s[1:]))
print(pi("xpipx"))

x3.14px

In [ ]:
#task-4
def countX(s):
  if len(s)==0:
    return 0
  
  else:
    if s[0]=="x":
      return 1+ countX(s[1:])
    else:
      return countX(s[1:])
print(countX("xaxb"))

2

In [ ]:
#task-3
def count7(n):
  if n==0:
    return 0
  if n%10==7:
    return 1+count7(n//10)
  return count7(n//10)
print(count7(717))

2

In [ ]:
#task-2
def bunny(n):
  if n==0:
    return 0
 
  elif n%2!=0:
    return 3+bunny(n-1)
  elif n%2==0:
    return 2+bunny(n-1)

print(bunny(2))

5

In [ ]:
#task-1
def sumDigits(n):
  if n==0:
    return 0
  return n%10+sumDigits(n//10)
print( sumDigits(126))

9

In [ ]:
#task-16
def count11(s):
  if len(s)==0:
    return 0
  if s[0]=="1" and s[1]=="1":
    return 1+count11(s[2:])
  return count11(s[1:])
print(count11("abc11x11x11"))

3

In [ ]:
#task-17
def parenBit(s):
  if len(s)==0:
    return ""
  if s[0]=="(":
    return s[0]
print(parenBit("xyz(abc)123"))

In [ ]:
#task-18
def strCopies(s1,s2,n):
  if len(s1)==0:
    return 0
  l=len(s2)
  if s1[:l]==s2:
    return 1+strCopies(s1[l:],s2,n)
  return strCopies(s1[1:],s2,n)
  
  
strCopies("catcowcat","cat",2)

2

In [ ]:
#task-19
def cngXY(s):
  if len(s)==0:
    return ""
  if s[0]=="x":
    return "y"+ cngXY(s[1:])
  return s[0]+ cngXY(s[1:])
print(cngXY("xxhixx"))

yyhiyy

In [ ]:
#task-20
def arr6(a,i):
  if len(a)==0:
    return False
  if i<=len(a)-1:
    if a[i]==6:
      return True 
    return arr6(a,i+1)
  return False
print(arr6([1,2,6], 0))

True

In [ ]:
#task-21
def allstar(s):
  if len(s)==0:
    return ""
  return s[0]+"*"+allstar(s[1:])
print(allstar("hello"))

h*e*l*l*o*

In [ ]:
#task-22
def countpairs(s):
  if len(s)==2:
    return 0
  if len(s)>=3:
    if s[0]==s[2]:
      return 1+ countpairs(s[1:])
    return countpairs(s[1:])
print(countpairs("axax"))

2

In [ ]:
#task-23
def stringClean(s):
  if len(s)==0:
    return ""
  if s[0] not in s[1:]:
    return s[0]+stringClean(s[1:])
  return stringClean(s[1:])
  
print(stringClean("yyzzza"))

yza

In [ ]:
#task-24
def  nestParen(s):
  if len(s)==0:
    return ""
  if s[0]!="(" or s[0]!=")":
    return False
  return nestParen(s[1:])
  return True
print( nestParen("(())"))

False

In [ ]:
#task-25
def  strDist(s1,s2):
  if len(s1)==0:
    return 0
  l1=len(s1)
  l2=len(s2)
  if s1[:3]==s2 and s1[l1-l2:]==s2:
    return l1+strDist(s1[3:l1-l2],s2)
  return strDist(s1[1:l1-1],s2)
  
print( strDist("catcowcat", "cat"))

0

In [ ]:
#max/min
def max_min(a,l,m):
  if l==0:
    return m
  if int(a[l])>int(m):
    m=a[l]
  return max_min(a,l-1,m)

a=["1","5",10,13,"15",-5]
l=len(a)-1
m=int(a[0])
print(max_min(a,l,m))

15

In [ ]:
#max/min
def max_min(a,l,m):
  if l==0:
    return m
  
  if ord(a[l])<ord(m):
    m=a[l]
  return max_min(a,l-1,m)

a=["a","b","q","z","s"]
l=len(a)-1
m=a[0]
print(max_min(a,l,m))

a

9

In [ ]:
#finding anagram
def anagram(s):

print()

In [ ]:
def sum(n):
  if n==1:
    return 1
  return n+sum(n-1)
print(sum(10))

55

In [ ]:
def sum1(n,m):
  if n==1:
    return 1
  return n**m+sum1(n-1,m)
print(sum1(3,2))

14